html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1em;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Helvetica Neue", "Roboto", "Oxygen", "Ubuntu", "Segoe UI", "Cantarell", sans-serif;
  font-weight: normal;
  color: #000;
  background-color: #fff;
}