/*
 * Primary text
 * Secondary text
 * Links
 * Background
 * Light background (code tags / forms / etc)
 *
 */

 /* Light
  –––––––––––––––––––––––*/

$primary: #000;
$secondary: lighten($primary, 50%);
$ternary: #e75b5b;
$background: #fff;
$background-secondary: darken($background, 5%);

/* Dark
 –––––––––––––––––––––––*/

// $primary: #fff;
// $secondary: lighten($primary, 50%);
// $ternary: #E75B5B;
// $background: #000;
// $background-secondary: lighten($background, 25%);
